
.title{
    height: 100px;
    background-color: rgb(83, 139, 139);
}

.abc{
    height: 10px;
    background-color: rgb(43, 81, 81);
}


h1{
    color: azure;
    text-align: center;
    font-size: 400%;
}

.sub{
    width: 300px ;
    background-color: rgb(225, 236, 236);
    font-size:200%;
}

body{
    background-image: url("ポップでかわいいデザインの無料ホームページテンプレート tp_pop1.png")
}


legend {
  background-color: rgb(59, 109, 102);
  color: white;
  padding: 3px 6px;
}

input {
  margin: 0.7rem;
  height: 50px;
}

.aaaaa {
display: flex;
}

button{
    height: 50px;
}

table{
    height: 100px;
    width: 550px;
}



#table{
    background-color: white;
    width: 400%;
}