.title{
    height: 100px;
    background-color: rgb(83, 139, 139);
}

.abc{
    height: 10px;
    background-color: rgb(43, 81, 81);
}


h3{
    color: azure;
    text-align: center;
    font-size: 400%;
}

.menu{
    width: 300px ;
    background-color: rgb(225, 236, 236);
    font-size:200%;
}

#table{
    width: 950px;
}



.sub {
display: flex;
}

table{
 
  margin-right: calc(50% - 50vw);
   width: 100vw;
}
 
.form-input {   width: 300px; /* 横幅 */   height: 40px; /* 高さ */ }
 
.form-select{
    width:150px;
    height:30px;
}
 
.form-year{
    width:150px;
    height:30px;
}
 
.form-name{
    width:300px;
    height:50px;
    font-size:25px;
}
.form-label-name{
    font-size:25px;
 
}
 
