.title{
    height: 100px;
    background-color: rgb(83, 139, 139);
}

.abc{
    height: 10px;
    background-color: rgb(43, 81, 81);
}


h3{
    color: azure;
    text-align: center;
    font-size: 400%;
}

.menu{
    width: 300px ;
    background-color: rgb(225, 236, 236);
    font-size:200%;
}

/* #table{
    width: 950px;
} */



.sub {
display: flex;
}



table{
  text-align: center;
   width: 150%;
   margin-left: 50px;
   background-color: white
} 
 
.form-input {  
    width:100%;
    height:60px;
    border:none;
    outline:none;
 }
 
.form-select{
    width:150px;
    height:30px;
}
 
.form-year{
    width:150px;
    height:30px;
}
 
.form-name{
    width:150px;
    height:50px;
    font-size:20px;
}
.form-label-name{
    font-size:25px;
 
}

.onenaze{  
    width:100px;
 }

 .sinin {  
    width:100%;
    height:75px;
    font-size:20px;
    border:none;
    outline:none;
 }

 .naze {  
    width:100%;
    height:100%;
    border:none;
    outline:none;
 }
 
.form-inputs {  
    width:100%;
    height:60px;
    border:none;
    outline:none;
 }

#class{  
    width:28px;
    height:45px;
    font-size:20px;
 }

 #button{
    margin-left: 50px;
    font-size: 120%;
    width: 30%;
}

body{
    background-image: url("ポップでかわいいデザインの無料ホームページテンプレート tp_pop1.png")
}
